<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.baoyz.recyclerviewdemo">

	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />

	<application android:allowBackup="true" android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" android:theme="@style/AppTheme">





		<activity android:name="com.baoyz.recyclerviewdemo.test2.RecyclerViewActivity"
		android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<activity android:name=".MyActivity" android:label="@string/app_name"/>


		<activity android:name="com.baoyz.recyclerviewdemo.test.CardViewActivity"
				  android:label="@string/app_name"/>


		<activity android:name="com.baoyz.recyclerviewdemo.test.DetailActivity"
				  android:label="@string/app_name"/>

		<activity android:name="com.baoyz.recyclerviewdemo.test2.CardViewActivity"
			android:label="@string/app_name"/>

		
		
	</application>
	
	

</manifest>
